<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michael.jiang.earthquake" >

<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".preference.EarthQuakePreferenceActivity"/>

        <provider
            android:authorities="com.michael.provider.EarthQuakeProvider"
            android:name=".provider.EarthQuakeProvider"/>

        <service android:name=".service.EarthQuakeUpdateService" android:enabled="true"/>

        <receiver android:name=".broadcast.EarthQuakeAlarmReceiver" >
            <intent-filter>
                <action android:name="com.michael.earthquake.ACTION_REFRESH_EARTHQUAKE_ALARM"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
